@media screen and (max-width:900px) {
    
    #products,#products1 {
        margin-bottom: 100px;
    }

    .product-detail {
        width: 100%;
        flex-direction: column;
    }
    
    .item {
        width: 47%;
        margin-bottom: 40px;
    }

    .product-detail img {
        width: 100%;
        height: 100%;
        margin-bottom: 35px;
    }
    
    .item-text {
        width: 100%;
        font-size: 0.87rem;
        padding-left: 0;
        margin-bottom: 50px;
    }
    
    .item-text p {
        margin-bottom: 30px;
        text-align: justify;
        font-size: 0.88rem;
    }
    
    .item-text dl {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    
    .item-text dt {
        width: 30%;
    }
    
    .item-text dd {
        width: 70%;
    }

    #footer {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}